.header_text {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: 19px;
  color: black;
}

.body_text {
  font-size: 10px;
  margin-right: 750px;
  margin-left: 20px;
}
