.form-header {
  color: #FFFFFF;
  font-size: 19px;
}

.journey-form {
  background-color: #005385;
  color: #FFFFFF;
  width: 302px;
  height: 580px;
  margin-top: 200px;
  margin-left: 400px;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.calculate_button {
  color: #FFFFFF;
  border-radius: 5px;
  border: 0;
  background-color: #00C9C9;
  height: 40px;
  margin-top: 5px;
}

.calculate_button:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.from_text {
  color: #FFFFFF;
  margin: 2px;
}

.from_dropdown_text {
  color: #7B8D93;
  width: 225px;
  height: 32px;
}

.to_text {
  color: #FFFFFF;
  margin: 2px;
  padding-top: 5px;
}

.to_dropdown_text {
  color: #7B8D93;
  width: 225px;
  height: 32px;
}

.from_time_text {
  color: #FFFFFF;
  margin: 2px;
  padding-top: 5px;
}

.to_time_text {
  color: #FFFFFF;
  margin: 2px;
  padding-top: 5px;
}

.to_time_input {
  color: #7B8D93
}

.from_date_text {
  color: #FFFFFF;
  margin: 2px;
  padding-top: 5px;
}

.to_date_text {
  color: #FFFFFF;
  margin: 2px;
  padding-top: 5px;
}

.price_text {
  color: #FFFFFF;
  margin: 2px;
  padding-top: 5px;
}
